.navbar-container {
    display: flex;
    flex-direction: row;
    padding: 0.3em;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: static;
    top: 0;
    left: 0;
}

.navbar-brand {
    clip-path: circle(50% at 50% 50%);
    width: 4.7em;
    height: auto;
}

.list-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: baseline;
}

nav ul li {
    padding: 1em;
    
}

nav ul li a {
    text-decoration: none;
    color: #252525;
    font-size: 1em;
}

nav ul li a:hover {
    color: #566e9a;
    cursor: pointer;
}

nav ul li a:active {
    color: pink;
}

/*Contador de productos en carrito*/
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 0.5em;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

/*Buscador*/
.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    padding: 0.3em;
}
.inputBuscar{
    border-color: gray;
    border-width: 1px;
    border-radius: 6px;
    font-size: 1rem;
    padding: 0.5em 0.9em 0.5em 0.9em;
}

.inputBuscar:focus{
    border-color: #27862f;
    border-width: 2px;
    outline: none;
}

.buttonBuscar{
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px ;
    border-radius: 6px;
    border-color: #27862f;
    color: #27862f;
    font-size: 1rem ;
    padding: 0.5em 0.9em 0.5em 0.9em;
}

.buttonBuscar:hover{
    background-color: #27862f;
    border-color: #27862f;
    color: #ffffff;
}